body{
    background-color:#ECF2FF;
    min-height: 100vh;
    text-align: center;
    min-width:50vh;
    background-image: url(bit3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center center;
    background-attachment: fixed;

}
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width:360px;
    height:530px;
    background-color:white;
    margin:7% auto;
    max-height:100vh;
}
.container{
    width:360px;
    height:100px;
    background-color:#2F58CD;
}
.img{
    width:310px;
    margin:6% auto;
}
.para{
    text-align: center;
    padding-top:9%;
    font-size:1.2rem;
    color:#537FE7;
}
.inputs{
    padding:10%;
    text-align: center;
    
}
.input1{
    margin-top:4%;
    padding:3%;
    width:100%;
    height: auto;
    border:1px solid gainsboro;
    border-radius:8px;
}
.input2{
    margin-top:7%;
    padding:3%;
    width:100%;
    height: auto;
    border:1px solid gainsboro;
    border-radius:8px;
}
.input1:hover{
    border-color: blue;
}
.input2:hover{
    border-color: blue;
}
.input1::placeholder{
    color:grey;
}
button{
    width:300px;
    padding:1.5%;
    border: 1px solid black;
    border-radius:5%;
    color:white;
    background-color:rgba(40,200,0,1);
}
.change{
    color:blue;
    margin-top: 7%;
}
.footer{
    margin-top:10%;
    color: red;
}
a{
    text-decoration: none;
    color:blue;
}